.App {
  width: 500px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border:none;
  border-radius: 10px;
}

.input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-size: 20px;
  margin-top: 50px;
  Gap:50px;
}
.element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
}

label {
  font-size: 16px;
  color: black;
  font-weight:bold;
}
footer{
  margin-top:auto;
  display:inline;
}
.left{
  Float:left;
  margin:0
}
.Right{
  Float:right;
  margin:0
}